@charset "utf-8";
/* CSS Document */

/*//////////////////////////////////////////Inicia reseteo */



#reset_form1, #reset_form2 {
	border: 1px solid rgba(204,204,204,1);
	padding: 20px;
	margin: 10px 10px;
}
#enviar_reset1, #enviar_reset2 {
	background: #00c6d7 !important;
	border: 1px solid #00aab9;
	width: 25%;
	margin-left: 75%;
	border-radius:0px;
}
/*/////////////////////////////////////////////Termina reseteo */

/* MEDIAS QUERIES */
@media(max-width:340px){
#enviar_reset1, #enviar_reset2 {
	width: 40%;
	margin-left: 59%;
}
}